@import url(https://fonts.googleapis.com/css?family=Comfortaa);
.Top-Bar
{
    text-align: left;
    width: 100%;
    height: 140px;
    background: url(http://www.solidbackgrounds.com/images/2880x1800/2880x1800-yankees-blue-solid-color-background.jpg);
}
body
{
    background-image: url(../Pics/registerpage.jpg);
    background-size: cover;
}
h1
{
    text-align: center;
    padding: 50px;
    color: White;
    font-family: "Monterserrat", Arial;
}
h2
{
    color: wHITE;
    text-align: center;
    font-family: "Monterserrat", Arial;
    font-size: 20px;
}
h3
{
    color: white;
}
h4
{
    color: white;
}
.resizedTextbox 
{
    width: 225px; height: 50px;
    border-radius: 3px;
}
.resizeButton
{
    width: 100px;
    height: 70px;
    font-family: "Comfortaa";
    font-size: 20pt;
}